<form class="m-2" method="post" action="/products/store">
  <div class="form-group">
    <label for="ten_sp">Tên sản phẩm</label>
    <input type="text" class="form-control" id="ten_sp" name="ten_sp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="gia_sp">Giá sản phẩm</label>
    <input type="text" class="form-control" id="gia_sp" name="gia_sp" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="id_sp">ID sản phẩm</label>
    <input type="text" class="form-control" id="id_sp" name="id_sp" placeholder="Enter email">
  </div>
  <button type="submit" class="btn btn-primary">Thêm sản phẩm</button>
</form>