<footer class="footer-1 bg-a-p-light text-a-p-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-3 col-sm-6 p-3">
                <div class="footer-brand">
                    <span class="brand">Aria<span style="color: #da6e71">Shop</span></span>
                    <ul class="social list-unstyled text-small text-left pt-3">
                        <li>
                            <a class="text-a-p-1" href="http://facebook.com">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-a-p-1" href="http://twitter.com">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a class="text-a-p-1" href="http://instagram.com">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <small class="d-block mb-3 text-muted">© 2017-2018</small>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5 class="text-a-p-1 pb-2">Shop Now</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Cool stuff</a></li>
                    <li><a class="text-muted" href="#">Random feature</a></li>
                    <li><a class="text-muted" href="#">Team feature</a></li>
                    <li><a class="text-muted" href="#">Stuff for developers</a></li>
                    <li><a class="text-muted" href="#">Another one</a></li>
                    <li><a class="text-muted" href="#">Last time</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5 class="text-a-p-1 pb-2">Features</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Resource</a></li>
                    <li><a class="text-muted" href="#">Resource name</a></li>
                    <li><a class="text-muted" href="#">Another resource</a></li>
                    <li><a class="text-muted" href="#">Final resource</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5 class="text-a-p-1 pb-2">Help?</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">My Account</a></li>
                    <li><a class="text-muted" href="#">Return Policy</a></li>
                    <li><a class="text-muted" href="#">Order Tracking</a></li>
                    <li><a class="text-muted" href="#">Shipping Charges</a></li>
                    <li><a class="text-muted" href="#">FAQs</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 p-3">
                <h5 class="text-a-p-1 pb-2">About</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="#">Team</a></li>
                    <li><a class="text-muted" href="#">Locations</a></li>
                    <li><a class="text-muted" href="#">Privacy</a></li>
                    <li><a class="text-muted" href="#">Terms</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <hr/>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 accepted-payments">
                <ul class="list-unstyled">
                    <li>
                        <img alt="" src="/images/payment/paypal.png"/>
                    </li>
                    <li>
                        <img alt="" src="/images/payment/visa.png"/>
                    </li>
                    <li>
                        <img alt="" src="/images/payment/express.png"/>
                    </li>
                    <li>
                        <img alt="" src="/images/payment/mastercard.png"/>
                    </li>
                    <li>
                        <img alt="" src="/images/payment/discover.png"/>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <small class="designer">
                    Designed By
                    <a href="https://github.com/asis2016/">Ashish Singh Maharjan</a>
                </small>
            </div>
        </div>
    </div>
</footer>