<!--TOP DEALS START-->
<ul>
  {{#each products}}
    <li>{{this.name}}</li>
  {{/each}}
</ul>
<section class="home-top-deals-3 bg-a-p-light text-a-p-dark" id="top">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h1 class="text-a-p-1">Today's top deal</h1>
                <p class="lead text-a-p-dark">
                    Debet antiopam ei sit, amet disputando eu ius.
                </p>
            </div>
            <div class="col-md-12">
                <div class="carousel slide" data-ride="carousel" id="carouselExampleControls">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-5.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#"> Suits </a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-1.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">Shoes</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-6.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">Sweaters</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-3.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">Sari</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-2.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">Gloves</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-8.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">Summer Dress</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-4.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">Sportswear</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-7.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">Wearable Art</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12 p-4">
                                    <div class="media">
                                        <img class="mr-3 rounded-circle" src="/images/pro-9.png"/>
                                        <div class="media-body my-auto">
                                            <h5 class="mt-0">
                                                <a class="text-dark" href="#">NASA T-Shirt</a>
                                            </h5>
                                            <p>$120</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev"
                       data-slide="prev"
                       href="#carouselExampleControls"
                       role="button">
                        <i aria-hidden="true" class="fa fa-chevron-left text-a-p-1"></i>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next"
                       data-slide="next"
                       href="#carouselExampleControls"
                       role="button">
                        <i aria-hidden="true" class="fa fa-chevron-right text-a-p-1"></i>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--TOP DEALS ENDS-->

<!--FEATURED PRODUCT STARTS-->
<section class="featured-products-1 bg-a-p-2 text-a-p-light" id="new">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h1 class="text-a-p-light">L' Collection 18</h1>
                <p class="lead">
                    Per te vide delenit nonumes. Blandit sadipscing ex.
                </p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt=""
                         class="img img-responsive"
                         src="/images/f1.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Iudico deterruisset </a></span>
                <br/>
                <span class="small-text">$ 152.11</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt=""
                         class="img img-responsive"
                         src="/images/f12.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Nam mazim</a></span>
                <br/>
                <span class="small-text">$ 119.99</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt=""
                         class="img img-responsive"
                         src="/images/f2.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Ssea intellegat</a></span>
                <br/>
                <span class="small-text">$ 27.20</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt=""
                         class="img img-responsive"
                         src="/images/f11.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Duo nibh s</a></span>
                <br/>
                <span class="small-text">$ 299.99</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f3.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Nec percipit</a></span>
                <br/>
                <span class="small-text">$ 89.99</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f10.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">An sea oportere</a></span>
                <br/>
                <span class="small-text">$ 19.99</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f4.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Ad pro nulla</a></span>
                <br/>
                <span class="small-text">$ 70</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f9.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Tale omnium</a></span>
                <br/>
                <span class="small-text">$ 89.5</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i>&nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f5.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Golden Compass</a></span>
                <br/>
                <span class="small-text">$ 299.99</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f8.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Oblique civibus </a></span>
                <br/>
                <span class="small-text">$ 347</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f6.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Aadipisci intellegam</a></span>
                <br/>
                <span class="small-text">$ 398</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 p-3">
                <div class="item">
                    <img alt="" class="img img-responsive" src="/images/f7.png"/>
                    <span class="item-details p-2 text-center">
                <span class="small-text"><a href="#">Movet sensibus</a></span>
                <br/>
                <span class="small-text">$ 56.2</span>
              </span>
                    <span class="addtocart">
                <button class="btn btn-a-p-1">
                  <i class="fa fa-shopping-basket"></i> &nbsp;Add to cart
                </button>
              </span>
                </div>
            </div>
            <div class="col-lg-12">
                <div aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item text-a-p-1">
                            <a aria-label="Previous" class="page-link bg-a-p-1 text-a-p-light border-0" href="#">
                                <span aria-hidden="true">&laquo;</span>
                                <span class="sr-only">Previous</span>
                            </a>
                        </li>
                        <li class="page-item">
                            <a class="page-link bg-a-p-1 text-a-p-light border-0" href="#">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link bg-a-p-1 text-a-p-light border-0" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link bg-a-p-1 text-a-p-light border-0" href="#">3</a>
                        </li>
                        <li class="page-item">
                            <a aria-label="Next"
                               class="page-link bg-a-p-1 text-a-p-light border-0"
                               href="#">
                                <span aria-hidden="true">&raquo;</span>
                                <span class="sr-only">Next</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--FEATURED PRODOCT ENDS-->

<!--JUMBOTRON STARTS-->
<section class="jumbotron2 text-a-p-light" id="jumbotron2">
    <div class="overlay"></div>
    <div class="container">
        <h1 class="text-a-p-1">AriaShop.</h1>
        <p class="lead">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
            et quas molestias excepturi sint occaecati cupiditate non provident.
        </p>
        <p>
            <a class="btn btn-a-p-1 btn-lg" href="#">Start Shopping</a>
            <a class="btn btn-a-p-2 btn-lg" href="#">Learn More</a>
        </p>
    </div>
</section>
<!--JUMBOTRON ENDS-->

<!--BLOG 2 STARTS-->
<section class="home-blog-2 bg-a-p-light text-a-p-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center pb-4">
                <h1 class="text-a-p-1">From the blog</h1>
                <p class="lead text-a-p-dark">
                    Viris eripuit voluptaria cu per, sed id movet.
                </p>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-3">
                <div class="card bg-a-p-3 text-a-p-light">
                    <img alt="Card image cap"
                         class="card-img-top"
                         src="/images/blog-1.png"/>
                    <div class="card-body">
                        <a href="#"><h5>Exerci quearedimu</h5></a>
                        <p class="card-text">
                            Exerci quaerendum conclusionemque ne vim, mei ad numquam
                            complectitur. In eros mediocrem eloquentiam eam, ne sit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-3">
                <div class="card bg-a-p-1 text-a-p-light">
                    <img alt="Card image cap"
                         class="card-img-top"
                         src="/images/blog-2.png"/>
                    <div class="card-body">
                        <a href="#"><h5>Mollis amor fate</h5></a>
                        <p class="card-text">
                            Mollis pertinax vis in. Quod patrioque qui ex, vim ad
                            dissentias necessitatibus. Ei ius tamquam prompta.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 p-3">
                <div class="card bg-a-p-2 text-a-p-light">
                    <img alt="Card image cap"
                         class="card-img-top"
                         src="/images/blog-3.png"/>
                    <div class="card-body">
                        <a href="#"><h5>Laoreet molestie</h5></a>
                        <p class="card-text">
                            Dico persius adolescens duo id, mel laoreet molestie ex. Duo
                            ex munere placerat definiebas, an per.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--BLOG 2 ENDS-->

<!--NEWSLETTER STARTS-->
<section class="newsletter-1 py-5 text-a-p-light" id="newsletter">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 my-auto p-3">
                <img alt="Our Top Brand"
                     class="img img-responsive top-brand"
                     height="120px"
                     src="/images/hnm.png"
                     title="Top Brand"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 right-content p-3 my-auto">
                <h1>Subscribe to us</h1>
                <p class="lead">
                    Nec et tale accusam comprehensam, eu fabulas accumsan.
                </p>
                <form>
                    <div class="input-group">
                        <input class="form-control"
                               placeholder="youremail@example.com"
                               type="text"/>
                        <div class="input-group-prepend">
                            <button class="btn btn-a-p-1">Subscribe!</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--NEWSLETTER ENDS-->
<a href="/admin/logout">Đăng xuất</a>